{% extends 'base.html' %}

{% block title %}
  Добавление новости
{% endblock %}


{% block content %}

    <h1>Добавление новости</h1>
    <form class="needs-validation" action="{% url 'add_news' %}" method="post">
        {% csrf_token %}

        <!-- Первый метод отображения формы -->
        {% comment %}
        {{ form.as_p }}
        {% endcomment %}

        <!-- Второй метод отображения формы -->
        {% comment %}
        <div class="mb-3">
            <label for="{{ form.title.id_for_label }}" class="form-label">Заголовок</label>
            {{ form.title }}
            <div class="invalid-feedback">
                {{ form.title.errors }}
            </div>
        </div>
        <div class="mb-3">
            <label for="{{ form.content.id_for_label }}" class="form-label">Контент</label>
            {{ form.content }}
            <div class="invalid-feedback">
                {{ form.content.errors }}
            </div>
        </div>
        <div class="mb-3">
            <label for="{{ form.category.id_for_label }}" class="form-label">Категория</label>
            {{ form.category }}
            <div class="invalid-feedback">
                {{ form.category.errors }}
            </div>
        </div>
        {% endcomment %}

        <!-- Третий метод отображения формы -->
        {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
            <div class="invalid-feedback">
                {{ field.errors }}
            </div>
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Добавить новость</button>
    </form>

{% endblock %}